.card-list {
  margin-bottom: 10px;

  .card-body {
    font-weight: normal;
    font-size: 18px;
    color: #0c0d36;

    img {
      width: 45px;
      height: 45px;
      border-radius: 6px;
    }
  }
}
