.card-dashboard-product {
  margin-bottom: 20px;

  .card-body {
    .product-title {
      font-size: 18px;
      color: #0c0d36;
    }

    .product-subtitle {
      font-size: 16px;
      color: #c5c5c5;
    }
  }
}
